html {
    text-align: center;
    background: url(foody.jpeg);
    background-size: cover;
}
h1 {
    background-color: aliceblue;
    border-bottom: 1px solid;
    font-size: 12px;
}
h2 {
    color: beige;
}
.test {
    text-align: left;
}

body {
    margin: 0;
}
button {
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
    border-color: chocolate;
    padding: 12 30;
    font-size: 20;
}
button:hover {
    background-color: chocolate;
    color:white;
}
.test {
    font-size: 10;
    margin-bottom: 0vh;
}
.toHide {
    color: beige;
}
.toShow {
    color: beige;
    position: relative;
    margin-top: 16vh;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    display: inline-block;
}
#horiatiki {
    display: none;
}
#wings {
    display: none;
}
#pasta {
    display: none;
}
#gnocchi {
    display: none;
}
#video{
 position: relative;
 background: transparent;
}

.ytplayer-container{
 position: absolute;
 top: 0;
 z-index: -1;
}